@font-face { src: url(css-font/BMJUA_ttf.ttf);
              font-family: "jua";}
body{margin:0px;
      padding: 0px;}
#h1{font-size : 60px;
  font-family:"jua";
    text-align:center;
    margin-top: 100px;}
#div{text-align:center;
    font-size:50px;
    font-family:"jua";
    line-height: 1.5;
    }
.intex{width: 360px;
       height: 45px;
       font-size: 50px;
       font-family:"jua";
       text-align:right;}
.intex1{width:100px;
        height:45px;
        font-size:50px;
        font-family:"jua";
        text-align:right;}
#time{font-size: 45px;
  font-family:"jua";
     text-align : center;}
#sub{width: 300px;
     height:60px;
     text-align : center;
     font-size:40px;}
#write{text-align : center;
       font-size:40px;}
#si-1{margin:30px;
      }
#si-2{font-size: 40px;
      font-weight: bold;
      color:black;
      font-family:"jua";
      text-decoration: none;}
#si-3{font-size:20px;
      text-align:center;
      padding: 40px;
      font-family:"jua";}
